@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/jetbrains-mono-v23-latin-700.woff2') format('woff2');
}

body {
    background-color: linen;
    color: black;
    font-family: 'JetBrains Mono';
}

h1 {
    text-align: center;
    font-size: 300%;
    float: none;
    margin: 10px;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

#fonts {
    font-size: 150%;
}

.confirm {
    float: left;
}

#navbar-placeholder {
    position: sticky;
    top: 0;
}

#boxmodel {
    text-align: center;
    width: 200px;
    border: 3px solid #758757;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    font-weight: 500;
    float: right;
    margin-right: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


button {
    float: left;
    margin: 20px;
    background-color: lavender;
    border-radius: 10px;
    padding: 5px;

}


progress {

    float: left;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lavender;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 10px;
    border-color: rebeccapurple;
}

progress::-webkit-progress-bar {
    /* style rules background in chrome, edge, opera */
    background-color: lavender;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    /* style rules chrome edge opera value bar colour */
    background-color: mediumpurple;
    border-radius: 5px;
    transition: width 0.4s ease-in;
}

progress::-moz-progress-bar {
    /* style rules ff equivalent to ::-webkit-progress-value */
    background-color: mediumpurple;
    border-radius: 5px;
    transition: width 0.4s ease-in;
}


#webkit {
    /* WebKit */
    -webkit-appearance: slider-vertical !important;
    /* Mozilla */
    -moz-appearance: slider-vertical;
    /* Opera */
    -o-appearance: slider-vertical;
    /* Internet Explorer */
    -ms-appearance: slider-vertical;
    /* CSS3 */
    appearance: slider-vertical;
}



ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    background-color: #99A682;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #758757;
    border-radius: 5px;
}

img {
    align-items: centre;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    margin-left: 20px;
}