@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/jetbrains-mono-v23-latin-700.woff2') format('woff2');
}

* {
    margin: 0;
}

body {
    background-color: linen;
    color: black;
    font-family: 'JetBrains Mono';
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    margin: 10px;
    text-align: center;
    font-size: 300%;
}

hr {
    border: none;
    height: 3px;
    background-color: #758757;
}

#fonts {
    font-size: 150%;
}

.confirm {
    float: left;
}

#boxmodel {
    text-align: center;
    width: 200px;
    border: 3px solid #758757;
    padding: 10px;
    border-radius: 20px;
    float: right;
}

progress {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lavender;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 10px;
    border-color: rebeccapurple;
}

progress::-webkit-progress-bar {
    /* style rules background in chrome, edge, opera */
    background-color: lavender;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    /* style rules chrome edge opera value bar colour */
    background-color: mediumpurple;
    border-radius: 5px;
    transition: width 0.4s ease-in;
}

progress::-moz-progress-bar {
    /* style rules ff equivalent to ::-webkit-progress-value */
    background-color: mediumpurple;
    border-radius: 5px;
    transition: width 0.4s ease-in;
}


#webkit {
    /* WebKit */
    -webkit-appearance: slider-vertical !important;
    /* Mozilla */
    -moz-appearance: slider-vertical;
    /* Opera */
    -o-appearance: slider-vertical;
    /* Internet Explorer */
    -ms-appearance: slider-vertical;
    /* CSS3 */
    appearance: slider-vertical;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    background-color: #99A682;
}

ul li a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: black;
    text-align: center;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #758757;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99A682;
    overflow-x: hidden;
    padding-top: 60px; /*make it 10px less the height of openbtn*/
    transition: 0.5s;
}

.openbtn {
    z-index: 100000;
    background-color: #99A682;

    border: none;
    float: left;
    top: 0;
    left: 0;
    position: fixed;
    align-content: center;
    vertical-align: middle;
    width: 100px;
    height: 70px;
    padding: 0;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: #758757;
}

#main {
    transition: margin-left 0.5s;
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 12px;
    }
}